<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Final"
        tools:targetApi="31">
        <activity
            android:name=".NavEmpresa.Nav_Drawer_Empresa_Activity"
            android:exported="false"
            android:label="@string/title_activity_nav_drawer_empresa"
            android:theme="@style/Theme.Proyecto_Final.NoActionBar" />
        <activity
            android:name=".ReservasActivity"
            android:exported="false" />
        <activity
            android:name=".Contactanos"
            android:exported="false" />
        <activity
            android:name=".Nav.Nav_Drawer_Client"
            android:exported="true"
            android:label="@string/title_activity_nav_drawer_client"
            android:theme="@style/Theme.Proyecto_Final.NoActionBar" />
        <activity
            android:name=".Cliente.RegistroClienteActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cliente.ClienteMainActivity"
            android:exported="false" />
        <activity
            android:name=".Empresa.RegistroEmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>